<%= form_tag(plans_path, method: 'get', action: 'screen') do %>
	<table>
		<tr>
			<td> Age </td>
			<td> <%= text_field_tag :age, nil, placeholder: "ex: 41", id: "age" %> </td>
		</tr>	
		<tr>
			<td> Does this person smoke or use other tobacco products? </td>
			<td> 
				<%= hidden_field_tag :tobacco, "No" %>
				<%= check_box_tag :tobacco, "Yes", false %> 
				<%= label_tag(:tobacco, "Yes") %> 
			</td>
		</tr>
	</table>
<% end %> <br />