<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>PlanShepherd</title>

</head>

<body id="page-top" class="index">
	<section class="main">
		<div class = "screen">
				
			<%= form_tag(plans_path, method: 'get', action: 'screen') do %>
				<h3>First, tell us your zip code</h3>
				<div id="enterZip">
					<%= text_field_tag :ZIP, nil, placeholder: "ZIP Code", id: "zipBlur"%>
					<div id="showCounties"> 
						<%= render partial: 'countycoll' %>
					</div> <br /><br />
				</div>
				
				<h3>Who are you shopping for insurance for?</h3>
				<div id="familyComp">
				<!-- =begin	
					<table>
						<tr colspan="2">
							<td><b>You:</b></td>
						</tr>
						<tr>
							<td> Age </td>
							<td> Tobacco Usage </td>
						</tr>
						<tr>
							<td> <%= text_field_tag :PrimAge, nil, placeholder: "ex: 41", id: "age" %> </td>
							<%= hidden_field_tag :PrimTobacco, "No" %>
							<td> <%= check_box_tag :PrimTobacco, "Yes", false %> </td>
						</tr>
						<tr colspan="2">
							<td><b>Your Spouse:</b></td>
						</tr>
						<tr>
							<td> Age </td>
							<td> Tobacco Usage </td>
						</tr>
						<tr>
							<td> <%= text_field_tag :PartAge, nil, placeholder: "ex: 41", id: "age" %> </td>
							<%= hidden_field_tag :PartTobacco, "No" %>
							<td> <%= check_box_tag :PartTobacco, "Yes", false %> </td>
						</tr>
					</table>
				=end -->								

					<%= radio_button_tag(:familyComp, "self", false, id: 'familyComp') %>
					<%= label_tag(:familyComp, "Just me") %>
					<%= radio_button_tag(:familyComp, "family", false, id: 'familyComp') %>
					<%= label_tag(:familyComp, "Myself and my family") %>
					<%= radio_button_tag(:familyComp, "kids", false ,id: 'familyComp') %>
					<%= label_tag(:familyComp, "Just my kids") %><br />
					<div id="familyCompPt2"></div><br />
				</div>
				
				<h3>One last thing... do you want to see dental-only insurance plans?</h3>
				<%= hidden_field_tag :Dental, "No" %>
				<%= check_box_tag :Dental, "Yes", false %>
				<%= label_tag(:Dental, "Yes, show me just dental plans") %> <br /><br />
				
				<%= submit_tag 'Screen', :name=> nil %> 
			<% end %> <br />
		</div>	
	
	<!-- =begin 
	<div class = "navigate">
			
		<%= form_tag(plans_path, method: 'get', action: 'screen2') do %>
			<h3>First, tell us your zip code</h3>
			<div id="enterZip">
				<%= text_field_tag :ZIP, "ZIP Code", id: "zipBlur"%>
				<div id="showCounties"> 
					<%= render partial: 'countycoll' %>
				</div> <br /><br />
			</div>
			
			<h3>Basic Information</h3>
			What is your age?<br \>
			<%= text_field_tag :primaryAge, "Age"%><br \><br \>
			
			What is your sex? <br \>
			<%= select_tag(:primarySex, options_for_select([['Male', 'male'], ['Female', 'female']]), id: "primarySex") %> <br \><br \>
							
			<%= radio_button_tag(:SHOP, "Individual") %>
			<%= label_tag(:SHOP, "I'm looking for independent insurance for myself/my family") %>
			<%= radio_button_tag(:SHOP, "SHOP (Small Group)") %>
			<%= label_tag(:SHOP, "I'm looking for insurance through my employer") %> <br /><br />
			
			<h3>Household</h3>
			Spouse or Domestic Partner? <br />
			<%= text_field_tag :partnerAge, "Age"%><br \>
			<%= select_tag(:partnerSex, options_for_select([['Male', 'male'], ['Female', 'female']]), id:"partnerSex") %> <br \><br \><br \>
			<div id="sexMatch">
			</div>
			
			Dependents? <br />
			<div id="dep1">
				<%= text_field_tag :dep1Age, "Age"%><br \>
				<%= select_tag(:dep1sex, options_for_select([['Male', 'male'], ['Female', 'female']]), id:"dep1Sex") %> <br \><br \><br \>		
			</div>
			<div id="dep2">
				<%= text_field_tag :dep2Age, "Age"%><br \>
				<%= select_tag(:dep2sex, options_for_select([['Male', 'male'], ['Female', 'female']]), id:"dep2Sex") %> <br \><br \><br \>		
			</div>
			<div id="dep3">
				<%= text_field_tag :dep3Age, "Age"%><br \>
				<%= select_tag(:dep3sex, options_for_select([['Male', 'male'], ['Female', 'female']]), id:"dep3Sex") %> <br \><br \><br \>		
			</div>
			
			
			<%= radio_button_tag(:ChildAdultPlan, "Allows Adult-Only") %>
			<%= label_tag(:ChildAdultPlan, "My family is only adults") %>
			<%= radio_button_tag(:ChildAdultPlan, "Allows Adult and Child-Only") %>
			<%= label_tag(:ChildAdultPlan, "My family is adults and children") %>
			<%= radio_button_tag(:ChildAdultPlan, "Allows Child-Only") %>
			<%= label_tag(:ChildAdultPlan, "I'm looking for Child-Only Coverage") %> <br /><br />
			
			<h3>Other Information</h3>
			<%= hidden_field_tag :Dental, "No" %>
			<%= check_box_tag :Dental, "Yes", false %>
			<%= label_tag(:Dental, "I'm looking for dental-only plans") %> <br /><br />
			
			<%= submit_tag 'Screen', :name=> nil %> 
		<% end %> <br />
	</div>
		
	=end -->
		
	</section>
	
	<footer>
        <div class="footer">
			<div class="copyright">
				Copyright &copy; Huntington Health Innovations, Ltd. 2017
			</div>
        </div>
    </footer>
</body>

</html>