<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>PlanShepherd</title>

</head>

<body id="page-top" class="index">
	<section class="main">
		
		<div class = "screen">
			<h1> Quick Screen </h1>	
			<%= form_tag(plans_path, method: 'get', action: 'screen') do %>
			
				<%= hidden_field_tag :workflow, "quickscreen" %>
				
				<h3>First, tell us your zip code</h3>
				<div id="enterZip">
					<%= text_field_tag :zip, nil, placeholder: "ZIP Code", id: "zipBlur"%>
					<div id="showCounties"> 
						<%= render partial: 'countycoll' %>
					</div> <br /><br />
				</div>
				
				<h3>A Couple Questions About You</h3>
				<div id="familyComp">
					<table>
						<tr>
							<td> Age </td>
							<td> <%= text_field_tag :age, nil, placeholder: "ex: 41", id: "age" %> </td>
						</tr>	
						<tr>
							<td> Do you smoke or use other tobacco products? </td>
							<td> 
								<%= hidden_field_tag :tobacco, "No" %>
								<%= check_box_tag :tobacco, "Yes", false %> 
								<%= label_tag(:tobacco, "Yes") %> 
							</td>
						</tr>
					</table>
				</div>
				
				<h3>One last thing... do you want to see dental-only insurance plans?</h3>
				<%= hidden_field_tag :dental, "No" %>
				<%= check_box_tag :dental, "Yes", false %>
				<%= label_tag(:dental, "Yes, show me just dental plans") %> <br /><br />
				
				<%= submit_tag 'Screen', :name=> nil %> 
				<% end %> <br />
		</div>	
	
	<hr>	
	
		<div class = "navigate">
			<h1> Navigate </h1>
			<%= form_tag(plans_path, method: 'get', action: 'navigate') do %>
				
				<%= hidden_field_tag :workflow, "navigate" %>
				
				<h3>First, tell us your zip code</h3>
				<div id="enterZip">
					<%= text_field_tag :zip, nil, placeholder: "ZIP Code", id: "zipBlur"%>
					<div id="showCounties"> 
						<%= render partial: 'countycoll' %>
					</div> <br /><br />
				</div>
				
				<h3>Now tell us about yourself </h3>
				<div id="primary">
					<table>
						<tr>
							<td> Age </td>
							<td> <%= text_field_tag :age, nil, placeholder: "ex: 41", id: "age" %> </td>
						</tr>	
						<tr>
							<td> Do you smoke or use other tobacco products? </td>
							<td> 
								<%= hidden_field_tag :tobacco, "No" %>
								<%= check_box_tag :tobacco, "Yes", false %> 
								<%= label_tag(:tobacco, "Yes") %> 
							</td>
						</tr>
					</table>
				</div>
				
				<h3>Next, tell us about anyone else you want to find coverage for </h3>
				<div id="familycomp">
					<h4> Your Spouse </h4>
					<div id="spouse">
						<button type="button" id="addspouse" > Add Spouse </button>
					</div>
					<h4> Your Dependents </h4>
					<div id="dependents">
						<button type="button" id="adddependent"> Add Dependent </button>
					</div>
				</div>
			
			<%= submit_tag 'Navigate', :name=> nil %>
			<% end %> <br />
		</div>
	</section>
	
	<footer>
        <div class="footer">
			<div class="copyright">
				Copyright &copy; Huntington Health Innovations, Ltd. 2017
			</div>
        </div>
    </footer>
</body>

</html>