<h1>Plans#index</h1>

<table class="screening_results">
	<%= @nAdults %>
	<%= @nKids %>
	<% @plans.each do |plan| %>
		<tr><td colspan="3"><h2><%= plan.planmarketingname %></h2></td></tr>
		<tr><td colspan="3"><%= plan.planmarketingname %></td></tr>
		<tr>
			<td>Monthly Payment</td>
			<td>Other Costs</td>
			<td>Estimated Total Cost This Year</td>
		</tr>
		<tr>
			<td>
			<% if @nAdults == 1 %>
				<% if @nKids == 0 %>
					<%= plan.individualrate %>
				<% elsif @nKids == 1%>
					<%= plan.primarysubscriberandonedependent %>
				<% elsif @nKids == 2%>
					<%= plan.primarysubscriberandtwodependents %>
				<% elsif @nKids > 2%>
					<%= plan.primarysubscriberandthreeormoredependents %>
				<% end %>
			<% elsif @nAdults == 2 %>
				<% if @nKids == 0 %>
					<%= plan.couple %>
				<% elsif @nKids == 1%>
					<%= plan.coupleandonedependent %>
				<% elsif @nKids == 2%>
					<%= plan.coupleandtwodependents %>
				<% elsif @nKids > 2%>
					<%= plan.coupleandthreeormoredependents %>
				<% end %>
			<% end %>			
			</td>
			<td>
			<table>
				<tr>
					<td>Your total deductible is:</td>
					<td>
						<% if plan.tehbdedinntier1individual %>
							<%= plan.tehbdedinntier1individual %>
						<% else %>
							<%= plan.mehbdedinntier1individual %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td>The most you could pay this year is:</td>
					<td>
						<% if plan.tehbinntier1individualmoop %>
							<%= plan.tehbinntier1individualmoop %>
						<% else %>
							<%= plan.mehbinntier1individualmoop %>
						<% end %>
					</td>
				</tr>
			</table>
			</td>
			
			<td><%= plan.individualrate.to_f * 12 + 355 %></td>
		</tr>
		<tr><td colspan="3" style="background-color:powderblue;"><br /><br /></td></tr>
	<% end %>
</table>